* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
  margin: 0;
}

.header {
  height: 95px;
  border-bottom: 2px solid #E5E5E5;
  padding-top: 25px;
}

.container {
  width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

.nav-items {
  display: flex;
}

.nav-item {
  font-size: 15px;
}

.nav-item ul {
    background: #fff;
    border-bottom: 5px solid #2aacc8;
    padding: 5px;
    width: 265px;
}
 
.nav-item-link {
  padding: 15px;
  color: black;
  text-decoration: none;
  display: block;
}

.white-button1, .orange-button1 {
	height: 45px;
  width: 120px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.white-button1 {
  background-color: white;
  border: 1px solid black;
}

.orange-button1 {
	background-color: #FF6336;
	color: white;
	margin-left: 10px;
  border: 1px;
}

.wrapper{
  width: 1290px;
  margin: 0 auto;
  display: flex;
}

.wrapper img {
  width: 759px;
  height: 529px;
  margin-top: 150px;
}

.main {
  margin-top: 130px;
}

.main h2 {
  font-size: 65px;
  line-height: 70px;
  padding-bottom: 51px;
}

.main p{
  width: 471px;
  font-size: 25px;
  line-height: 35px;
}

.white-button2, .orange-button2 {
  height: 60px;
  width: 160px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  margin-top: 51px;
}

.white-button2 {
  background-color: white;
  border: 1px solid black;
}

.orange-button2 {
  background-color: #FF6336;
  color: white;
  border: 1px;
}

.subtitle {
  font-size: 15px;
  line-height: 25px;
  margin: 24px 0 172px 0;
} 

.orange-row {
  height: 455px;
  background-color: #FF9C7D;
}

.orange-row h3 {
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  width: 700px;
  margin: 0 auto;
  padding: 108px 0 80px 0;
}

.orange-row-list {
  width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
  align-items: baseline;
}

.orange-row-list img {
  width: 7%;
}

.content {
  width: 1290px;
  margin: 0 auto;
  margin-top: 90px;
}

.content-box1, .content-box2, .content-box3, .content-box4 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.content-box2, .content-box3, .content-box4 {
  margin-top: 250px;
}

.box {
  width: 480px;
}

.box h3 {
  font-size: 50px;
  line-height: 60px;
}

.box p {
  font-size: 20px;
  line-height: 30px;
  margin: 30px 0 30px 0;
}

.box span{
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.u {
  text-decoration: underline;
}

.beige-row {
  height: 1033px;
  background-color: #FFF8E4;
  margin-top: 120px;
}

.beige-row h3 {
  font-size: 50px;
  line-height: 60px;
  padding-top: 120px;
  margin: 0 auto;
  text-align: center;
}

.beige-row-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1290px;
  margin: 0 auto;
}

.beige-aside span{
  font-size: 25px;
  line-height: 35px;
  font-weight: bold;
  margin: 22px 0 25px 0;
}

.beige-aside p {
  font-size: 18px;
  line-height: 25px;
}

.beige-aside {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 28%;
  padding-top: 80px; 
}

.white-row h3 {
  font-size: 50px;
  line-height: 60px;
  padding: 120px 0 92px 0;
  margin: 0 auto;
  text-align: center;
}

.white-row-list {
  width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.white-aside {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  align-items: flex-start;
  width: 409px;
}

.white-aside span{
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  padding: 67px 0 33px 0;
}

.white-aside p {
  font-size: 20px;
  line-height: 30px;
}

.white-aside a {
    color: black;
    font-size: 20px;
    padding: 26px 0 217px 0;
}

.white-aside a:hover {
    text-decoration: underline;
}

.blue-row {
  background-color: #C9E8F2;
  height: 468px;
  padding-top: 60px;
}

.blue-row-list {
  width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
}

.blue-row-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 895px;
}

.blue-row-text p {
  font-size: 30px;
  line-height: 40px;
  padding-bottom: 23px;
}

.blue-row-text span {
  font-size: 15px;
  line-height: 25px;
}

.blue-row-list img {
  width: 310px;
  height: 310px;
} 

.blue-row-text img {
  width: 18%;
  height: 22%;
  margin-left: -20px;
}

.brown-row{
  background-color: #DABC98;
  height: 332px;
  padding-top: 117px;
}

.brown-row-list {
  display: flex;
  justify-content: space-between;
  align-self: baseline;
  align-items: center;
  width: 1290px;
  margin: 0 auto;
}

.img-stars img {
  width: 380px;
}

.brown-row-text {
  font-size: 35px;
  line-height: 50px;
  font-weight: 600;
  width: 461px;
}

.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 165px 0 162px 0; 
}

.wrap h4 {
  font-size: 65px;
  line-height: 75px;
  width: 791px;
}

.wrap p {
  font-size: 25px;
  line-height: 30px;
  width: 539px;
}

.wrap img {
  width: 1023px;
}

.orange-button3 {
  background-color: #FF6336;
  color: white;
  margin-left: 10px;
  border: 1px;
  width: 193px;
  height: 60px;
  font-size: 16px;
  line-height: 60px;
}

.orange-row-footer {
  background-color: #FF9C7D;
  height: 603px;
}

.orange-row-footer-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.orange-row-footer-list h4 {
  font-size: 65px;
  line-height: 75px;
  font-weight: 600;
  width: 784px;
  margin: 119px 0 29px 0;
}

.orange-row-footer-list span {
  font-size: 20px;
  line-height: 30px;
}

.black-button1 {
  background-color: black;
  color: white;
  margin-left: 10px;
  border: 1px;
  width: 160px;
  height: 60px;
  font-size: 17px;
  line-height: 60px;
  margin: 54px 0 161px 0;
}

.grey-row {
  background-color: #EEEEEE;
  padding-top: 97px;
}

.grey-row-list {
  width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid ;
}

.grey-box1, .grey-box {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  align-items: flex-start;
}

.grey-box1 {
  width: 300px;
}

.grey-box {
  width: 130px;
}

.grey-box1 span img{
  width: 30%;
  padding: 40px 0 20px 0;
}

.grey-box1 h5 {
  font-size: 40px;
  line-height: 50px;
  padding-bottom: 28px;
}

.grey-box1 p {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 15px;
}

.grey-box1 h6 {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 95px;
}

.grey-box h6 {
  padding-bottom: 21px;
}

.grey-box a {
  color: black;
  font-size: 15px;
  line-height: 15px;
  padding-bottom: 15px;
  text-decoration: none;
}

.footer {
  width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 43px;
}

.block-left p, .block-right {
  font-size: 12px;
  line-height: 15px;
  color: #595a5b;
}

.block-left {
  width: 301px;
}

.block-left span {
  font-size: 20px;
  font-weight: 600;
}

